body {
    background-color: #e9ebee;
}

.card {
    margin-top: 1em;
}

.url-shorthand-card {
    margin-top: 5em;
    padding-top: 5em;
}
.url-shorthand-card .card-title{
    text-align: center;
}
.url-shorthand-card .url-shorthand-img{
    width: 10em;
    position: absolute;
    top: -5em;
    left: 50%;
    margin-left: -5em;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}
